@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#main {
    padding: 30px;
}

#footer {
    padding: 30px;
}


.table-weather .th-weather-min,
.table-weather .th-weather-max {
    text-align: center;
}

.table-weather .td-weather-min,
.table-weather .td-weather-max {
    text-align: center;
}

.jumbotron {
    position: relative;
}

.loading-overlay {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgba(0,0,0, 0.1);
    backdrop-filter: blur(5px);
    border: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.error-overlay {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgba(0,0,0, 0.1);
    backdrop-filter: blur(5px);
    border: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}