@{
    ViewBag.Title = "Sobre";
}

<div class="row">
    <div class="col-12">

        <h1>Clima Tempo Simples</h1>
        <p>Auvo Tecnologia</p>

        <h5 class="mt-5">Desenvolvedor:</h5>
        <p>Leonardo J. Valcarenghi</p>

        <h5 class="mt-5">Site:</h5>
        <p>
            <a href="https://leonardovalcarenghi.com.br">
                https://leonardovalcarenghi.com.br
            </a>
        </p>

        <h5 class="mt-5">GitHub:</h5>
        <p>
            <a href="https://github.com/leonardovalcarenghi">
                https://github.com/leonardovalcarenghi
            </a>
        </p>

        <h5 class="mt-5">Linkedin:</h5>
        <p>
            <a href="https://www.linkedin.com/in/leonardo-valcarenghi">
                https://www.linkedin.com/in/leonardo-valcarenghi
            </a>
        </p>

    </div>
</div>