@{
    ViewBag.Title = "Climas";
}


<div class="row">


    <div class="col-12 col-lg-6">
        <div class="jumbotron text-white" id="weather-hot">

            <div class="loading-overlay" id="loading-mais-quentes">
                <p>Carregando...</p>
            </div>
            <div class="error-overlay" id="error-mais-quentes" style="display: none;">
                <p>Ocorreu um erro...</p>
            </div>


            <i class="bi bi-sun weather-icon"></i>

            <h3>
                <span>Cidades mais quentes hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-sun-fill"></i> <strong>quentes</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table table-weather text-white" id="cidades-mais-quentes">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="col-12 col-lg-6">

        <div class="jumbotron text-white" id="weather-cold">

            <div class="loading-overlay" id="loading-mais-frias">
                <p>Carregando...</p>
            </div>

            <div class="error-overlay" id="error-mais-quentes" style="display: none;">
                <p>Ocorreu um erro...</p>
            </div>

            <i class="bi bi-snow weather-icon"></i>

            <h3>
                <span>Cidades mais frias hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-snow2"></i> <strong>frias</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table table-weather text-white" id="cidades-mais-frias">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="row mb-3">
    <div class="col-12 col-lg-8">
        <h2>
            Clima para os próximos sete dias na cidade de <span id="cidade-nome">city</span>
        </h2>
    </div>
    <div class="col-12 col-lg-4">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-geo-alt-fill"></i>
                </span>
            </div>
            <select class="form-control" id="cidades-select">
               <optgroup label="teste">teste</optgroup>
                <option>Cidade</option>
                <option>Cidade</option>
                <option>Cidade</option>
                <option>Cidade</option>
            </select>
        </div>



    </div>
</div>

<div class="row" id="climates-container">

    <div class="col-6 col-md-4 col-xl-2 mb-3">

        <div class="card card-weather">
            <div class="card-header">
                <h6 class="mb-0">Dia da Semana</h6>
            </div>
            <div class="card-body">
                <h4>
                    <i class="bi bi-cloud-drizzle-fill"></i>
                    <span>Clima</span>
                </h4>
                <div class="d-flex justify-content-between mb-0">
                    <span>Mínima</span>
                    <span>99 Cº</span>
                </div>
                <div class="d-flex justify-content-between mb-0">
                    <span>Máxima</span>
                    <span>99 Cº</span>
                </div>
            </div>

        </div>

    </div>







</div>


<!-- Componentes -->
<div style="display: none">


    <div class="col-6 col-md-4 col-xl-2 mb-3" id="card-weather-component">

        <div class="card card-weather">
            <div class="card-header">
                <h6 class="mb-0">Dia da Semana</h6>
            </div>
            <div class="card-body">
                <h4>
                    <i class="bi bi-cloud-drizzle-fill"></i>
                    <span>Clima</span>
                </h4>
                <div class="d-flex justify-content-between mb-0">
                    <span>Mínima</span>
                    <span>99 Cº</span>
                </div>
                <div class="d-flex justify-content-between mb-0">
                    <span>Máxima</span>
                    <span>99 Cº</span>
                </div>
            </div>

        </div>

    </div>

</div>


@Scripts.Render("~/Content/js/clima.js")