@{
    ViewBag.Title = "Climas";
}


<div class="row">


    <div class="col-12 col-lg-6">
        <div class="jumbotron text-white" id="hottest-cities-jumbotron">

            <div class="loading-overlay" id="hottest-cities-loading">
                <p>Carregando...</p>
            </div>

            <div class="error-overlay" id="hottest-cities-error" style="display: none;">
                <p class="mb-0">Tivemos um problema ao tentar buscar a lista de cidades mais quentes...</p>
                <small>Por favor, tente novamente mais tarde.</small>
            </div>


            <i class="bi bi-sun weather-icon"></i>

            <h3>
                <span>Cidades mais quentes hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-sun-fill"></i> <strong>quentes</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table table-weather text-white" id="hottest-cities-table">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="jumbotron text-white" id="colder-cities-jumbotron">

            <div class="loading-overlay" id="colder-cities-loading">
                <p>Carregando...</p>
            </div>

            <div class="error-overlay" id="colder-cities-error" style="display: none;">
                <p class="mb-0">Tivemos um problema ao tentar buscar a lista de cidades mais frias...</p>
                <small>Por favor, tente novamente mais tarde.</small>
            </div>

            <i class="bi bi-snow weather-icon"></i>

            <h3>
                <span>Cidades mais frias hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-snow2"></i> <strong>frias</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table table-weather text-white" id="colder-cities-table">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="row mb-3">
    <div class="col-12 col-lg-8">
        <h2 id="weather-title" style="display: none;">
            Clima para os próximos sete dias na cidade de <span>city</span>
        </h2>
    </div>
    <div class="col-12 col-lg-4">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="bi bi-geo-alt-fill"></i>
                </span>
            </div>
            <select class="form-control" id="cities-select" disabled>
            </select>
        </div>



    </div>
</div>

<div class="row" id="weather-container">

    <div class="col-12">
        <p class="text-center">Selecione uma cidade no seletor acima para exibir a previsão para os próximos 7 dias.</p>
    </div>

</div>


<!-- Componentes -->
<div style="display: none">


    <div class="col-6 col-md-4 col-xl-2 mb-3" id="weather-component">

        <div class="card card-weather">
            <div class="card-header">
                <h6 class="mb-0" name="day">Dia da Semana</h6>
            </div>
            <div class="card-body">
                <h4>
                    <i class="bi bi-cloud-drizzle-fill" name="icon"></i>
                    <span name="description">Clima</span>
                </h4>
                <div class="d-flex justify-content-between mb-0">
                    <span>Mínima</span>
                    <span name="min">99 Cº</span>
                </div>
                <div class="d-flex justify-content-between mb-0">
                    <span>Máxima</span>
                    <span name="max">99 Cº</span>
                </div>
            </div>

        </div>

    </div>

</div>


@Scripts.Render("~/assets/js/geography.js")
@Scripts.Render("~/assets/js/weather.js")

@*@Scripts.Render("~/Content/js/clima.js");*@
