@{
    ViewBag.Title = "Climas";
}


<div class="row">


    <div class="col-12 col-lg-6">
        <div class="jumbotron">
            <h3>
                <i class="bi bi-sun"></i>
                <span>Cidades mais questes hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-sun-fill"></i> <strong>quentes</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table weather" id="cidades-mais-quentes">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="col-12 col-lg-6">

        <div class="jumbotron">
            <h3>
                <i class="bi bi-snow"></i>
                <span>Cidades mais frias hoje</span>
            </h3>
            <p class="lead">Confira a lista de cidades mais <i class="bi bi-snow2"></i> <strong>frias</strong> no dia de <strong>hoje</strong>.</p>

            <table class="table weather" id="cidades-mais-frias">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-geo-alt mr-2"></i>Cidade</th>
                        <th class="th-weather-min" scope="col"><i class="bi bi-thermometer-low mr-2"></i>Mínima</th>
                        <th class="th-weather-max" scope="col"><i class="bi bi-thermometer-high mr-2"></i>Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td class="td-weather-min">99 Cº</td>
                        <td class="td-weather-max">99 Cº</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>




<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>